<h1>Lets Play</h1>

<form class="" action="/words" method="post">
  <input autofocus ="autofocus" type="text" name="letter" value="">
  <button type="submit" name="button">submit</button>
  <h4>Guess a letter</h4>

</form>



  {{#errors}}
  <br>
  {{.}}
  <br>
  {{/errors}}
<h3> Remaining Guesses</h3>
{{turns}}
<h2>{{underscores}} {{beenGuessed}}</h2>
 <h1>
   {{#guesses}}
   {{.}}
   {{/guesses}}
 </h1>
<h2>Guessed Letters </h2>{{guess}}
